/* Original CSS */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #333;
}

.img-container {
  width: 200px; /* Set the width */
  height: 200px; /* Set the height */
  margin: 20px;
}

.img-container img {
  height: 90%; /* Make the image fill the container horizontally */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.table-container {
  /* border-style: solid; */
  margin: 2px;
  width: 100%;
  /* align-items: center; */
  padding: 30px;
  background-color: white;
}

.items-table {
  border-collapse: separate; /* Ensure border-spacing works */
  border-spacing: 10px;
  /* border-style: solid; */
  min-width: 100%;
}


.table-header {
  color: white;
  background-color: #333 ;
  height: 3em;
  font-size: 1.2em;
}

/*
NAVIGATION
*/
/* App.css */

.navbar {
  background-color: #333;
  padding: 10px;
  font-size: 1.5em;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 20px
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  color: lightgray;
}


/** save button */
.action-button {
  background-color: #249fc1; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1em;
}

.action-button:hover {
  background-color: #249fc1b7; /* Darker green on hover */
}

.save-button {
  background-color: #4CAF50;
}

.save-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/** check box **/

/* Style for the checkbox container */
.checkbox-container {
  display: flex;
  align-items: center; /* Center align items vertically */
  justify-content: center; /* Center align items horizontally */
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px; /* Width of the custom checkbox */
  height: 24px; /* Height of the custom checkbox */
  margin: 0;
  cursor: pointer;
}

/* Style for the custom checkbox */
.checkbox-container input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 24px; /* Width of the custom checkbox */
  height: 24px; /* Height of the custom checkbox */
  border: 2px solid #666; /* Border color */
  border-radius: 4px; /* Border radius */
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Style for the checked state of the custom checkbox */
.checkbox-container input[type="checkbox"]:checked::before {
  background-color: #45a049; /* Background color when checked */
  border-color: #45a049; /* Border color when checked */
}

/* Style for the checkmark icon inside the custom checkbox */
.checkbox-container input[type="checkbox"]:checked::after {
  content: "";
  display: inline-block;
  width: 10px; /* Width of the checkmark icon */
  height: 5px; /* Height of the checkmark icon */
  border: solid #fff; /* Border color of the checkmark icon */
  border-width: 0 2px 2px 0; /* Thickness of the checkmark lines */
  transform: rotate(45deg); /* Rotate the checkmark icon to create a cross */
}

 /* Comment box */
 .comment-input {
  width: 300px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  resize: vertical; /* Allow vertical resizing */
  padding: 0.8em;
}


/* MOBILE */
@media (max-width: 768px) {
  .App {
    text-align: left; /* Adjust alignment for mobile */
    padding-top: 60px; /* Add padding to the top of the component to accommodate the fixed navbar */
  }

  .App-logo {
    height: 20vmin; /* Adjust logo size for mobile */
  }

  .App-header {
    min-height: 80vh; /* Adjust header height for mobile */
  }

  .navbar {
    font-size: 1em; /* Adjust font size for mobile */
    position: fixed; /* Set navbar to have a fixed position */
    top: 0; /* Position navbar at the top of the viewport */
    width: 100%; /* Make navbar full width */
    background-color: #333; /* Set background color for navbar */
    z-index: 1000; /* Ensure navbar is above other content */
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the list items in mobile view */
  }

  .navbar li {
    display: inline; /* Ensure list items display inline */
    margin: 0 10px; /* Adjust margin for mobile */
  }

  .navbar li:not(:last-child) {
    margin-right: 10px; /* Add margin between menu items except for the last one */
  }

  .navbar li a {
    display: inline; /* Make navbar links block for mobile */
    margin: 10px 0; /* Adjust margin for mobile */
    color: white; /* Set text color for navbar links */
    text-decoration: none; /* Remove underline from navbar links */
  }

  .table-container {
    padding: 5px;
    margin-top: 130px; /* Add margin-top to accommodate fixed navbar and button container */
    padding-top: 5px; /* Add padding to the top of the content */
    padding-bottom: 10px; /* Add padding to the bottom of the content */
  }

  .button-container {
    position: fixed; /* Set button container to have a fixed position */
    top: 60px; /* Position button container right under the navbar */
    left: 20px; /* Adjust position of the button container */
    z-index: 1000; /* Ensure button container is above other content */
    display: flex; /* Use flexbox to display buttons side by side */
    align-items: center; /* Align buttons vertically */
  }

  .action-button,
  .save-button {
    padding: 8px 16px; /* Adjust button padding for mobile */
    font-size: 14px; /* Adjust button font size for mobile */
  }

  .save-button {
    background-color: #4CAF50;
    margin-right: 5px; /* Add margin between buttons */
  }

  .show-checked-button {
    background-color: #249fc1;
    color: white;
    border: none;
    margin-left: 5px; /* Add margin between buttons */
  }

  .checkbox-container input[type="checkbox"] {
    width: 20px; /* Adjust checkbox size for mobile */
    height: 20px; /* Adjust checkbox size for mobile */
  }

  .checkbox-container input[type="checkbox"]::before {
    width: 20px; /* Adjust checkbox size for mobile */
    height: 20px; /* Adjust checkbox size for mobile */
  }

  .comment-input {
    width: calc(100% - 20px); /* Adjust comment input width for mobile */
    height: 80px; /* Adjust comment input height for mobile */
  }
}
